<ion-header>
  <ion-toolbar>
    <ion-title>pokemones</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <form [formGroup]="formulario" novalidate> <!--novalidate elimina las validaciones de HTML-->
    <ion-searchbar animated="true" placeholder="¿Quién es este pokemon?" formControlName="nombrePokemon">
    </ion-searchbar>
    <!--Validación de errores-->
    <ion-label
    *ngIf="!formulario.get('nombrePokemon').valid
    && formulario.get('nombrePokemon').errors.required
    && formulario.get('nombrePokemon').touched
    && formulario.get('nombrePokemon').dirty"  style="color: red;"
    >¡Campo requerido!</ion-label>

    {{formulario.get('nombrePokemon').valid }}<br>
    {{formulario.get('nombrePokemon').value | json }}<br>
    {{formulario.get('nombrePokemon').errors | json }}<br>
    {{formulario.get('nombrePokemon').touched | json }}<br> <!--¿Fue tocado el campo?-->
    {{formulario.get('nombrePokemon').dirty | json }}<br> <!--Se escribió en el campo?-->
  </form>
  <ng-template #cargando>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ng-template>
  <ng-template #losDatos>
    <app-info-pokemon *ngFor="let info of obtenerPokemon.informaciones" [url]="info.url"></app-info-pokemon>
    <ion-infinite-scroll (ionInfinite)="cargarMas($event)">
      <ion-infinite-scroll-content [loadingSpinner]="'lines-sharp'" [loadingText]="'Espere un ratito'">
        <!-- Template Reference -->

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <p *ngIf="obtenerPokemon.informaciones; then losDatos else cargando"></p>
  <!-- Template Reference -->

</ion-content>
